body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: #1f2937;
    margin: 0px;
    padding: 8px 100px;
    margin-bottom: 0;
    color: #f9faf8;
    font-size: 24px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;


    font-size: 24px;
}

.nav {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

.nav li {
    margin-left: 20px;
}

.hero {
    background-color: #1f2937;
    margin: 0;
    padding: 8px 100px;  
}

.hero-inner {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 5px
}

.hero-content {
    flex: 1;
    margin-right: 18px;
}

.hero-content h3 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-content p {
    color: #e5e7eb;
    margin-top: 0px;
    font-size: 18px;
}

.hero-inner img {
    flex: 1;
    background-color: slategrey;
}

button {
    background-color: #3882f6;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 8px;
    display: inline;
}

.info {
    background-color: #fff;
    margin: 0;
    padding: 8px 100px;  
}

.info-inner {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.cards {
    font-size: 18px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    gap: 1px;

    text-align: center;

    padding: 8px 200px; 
}


.info-img {
    border: 2px solid #3882f6;
    border-radius: 15px;

    padding: 75px 150px;
    margin: 20px;
    
}

.quote {
    background-color: #e5e7eb;

    color: #1f2937;
    font-size: 36px;

    padding: 50px 200px; 
}

.quote-sig {
    text-align: right;
    
}

.call {
    text-align: center;

}

.call-banner {
    display: flex;
    justify-content: center;
    gap :20px;

    color: white;
    background-color: #3882f6;
    margin: 50px 500px;
    border-radius: 15px;
    padding: 8px;

    text-align: left;
}

.call1 {
    font-size: 18px;
}

.call2 {
    font-size: 10px;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 8px;
}


